/*首页*/
/* 导航 */
.navbar{
	margin-bottom: 0px;
}

/*轮播*/
.item img{
	margin: 0 auto;
}
.carousel-inner div:first-child{
	background-color: #243442;
}
.carousel-inner div:nth-child(2){
	background-color: #f5e5dd;
}
.carousel-inner div:nth-child(3){
	background-color: #e11a1a;
}

/* 主体1 */
.c1 .row ul{
	list-style: none;
	text-align: center;
	margin-top: 20px;
}
.c1 .row ul li:first-child{
	color:#0059b3;
	font-size: 25px;
}
.c1 .row ul li:last-child{
	color:#ccc;
}
.c2 .row .col-md-6 .row div{
	margin-top: 40px;
}


/* 主体2*/

.c3 .row div{
	background-color: #ccc;
	text-align: center;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	 
} 
/* .c3 .row div:first-child{
	float: right;
} */
.c3 .row div{
	height:350px;
}
.c3 .row img{
	width: 50%;
	height: 50%;
}


/*主体3*/

.c4 .row div{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-bottom:20px;
}
.c4 .row div{
	height: 250px;
}
.c4 .row img{
	width: 50%;
	height: 50%;
}
/* 底部*/
.c5{
	text-align: center;
	background-color: #666666;
	color: #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
}

.c5 p{
	font-size: 10px;
	line-height: 20px;

}


/*案例*/
.atop{
	color:#fff;
	width: 100%;
	height: 200px;
	background-image: url(../images/bg.jpg);
}
.atop .container .row div{
	height: 200px;
	display: flex;
	flex-direction:column;	
	justify-content:center;
}


/* 主体 */
#ac0{
	background-color: #ccc;
}
.ac1 img{
	/* width: 80%;
	height: 80%; */
	margin: 0 auto;
}
.ac1 .row .col-md-3{
	/* background-color: #fff; */
}
.ac1 .row div{
	margin-top: 20px;
	text-align: center;
	padding-left:0px -15px;
}




/* 关于 */
/* 主体 */
body{
	position: relative;
}
#gd1{
	background-color: #ccc;
}
.gc1 .row div{
	margin-top: 20px;	
}
.gc1 .row ul{
	background-color: #fff;
	list-style: none;
	padding-left: 0px;
}
.gc1 .row ul.u1 li{
	border-bottom: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
.gc1 .row div:nth-child(2){
	background-color: #fff;
	margin-bottom: 40px;
}
.gc1 .row div:nth-child(2) ul li{
	border-bottom: 1px solid #f3f3f3;	
}
.gc1 .row div:nth-child(2) ul li h3:first-child{
	margin-top: 0px;
	padding-top: 20px;
}

    ul.nav-pills {
			top: 220px;
			position: fixed;
			width: 200px;
		}
		div.col-sm-9 div {
			height: 250px;
			font-size: 28px;
		}



/* 资讯*/
/* 主体 */
#sd1{
	background-color: #eeeeee;
}
#sd1 .row .col-md-4{
	background-color: #fff;
	margin-top: 20px;
}
#sd1 .row .scf1 .row{
	background-color: #fff;
	margin-bottom:20px;
	padding:10px;
	margin-top:20px;
}
#sd1 .row .container-fluid div.r2 h4{
	border-left: 2px solid #ccc;
	margin-left: 18px;
	
}


@media (max-width: 768px){
	.media-heading{
		font-size: 14px;
	}
	#ac0 .ac1 p{
		font-size: 20px;
	}

}
